:root {
--Very-Dark-Magenta: hsl(300, 43%, 22%);
--Soft-Pink: hsl(333, 80%, 67%);
--Dark-Grayish-Magenta: hsl(303, 10%, 53%);
--Light-Grayish-Magenta: hsl(300, 24%, 96%);
}

* {
    scrollbar-width: none;
    font-family: "League Spartan", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 4em;
    color: white;
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
}

.one, .reviews {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, .rated {
    font-weight: 700;
    color: var(--Very-Dark-Magenta);
}

.name, .description {
    font-weight: 500;
}

.reviews {
    display: flex;
    height: 250px;
}

h1 {
    font-size: 3em;
}

.text {
    width: 350px;
    color: var(--Dark-Grayish-Magenta)
}

.rates {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 340px;
    margin-right: 2.5rem;
}

.rate {
    display: flex;
    align-items: center;
    background-color: var(--Light-Grayish-Magenta);
    gap: 1em;
    padding: 0.2rem 2rem;
    border-radius: 5px;
    width: 320px;
}

.star {
    background-image: url(./images/icon-star.svg);
    background-repeat: space;
    width: 101px;
    height: 16px;
}



.review {
    width: 260px;
    background-color: var(--Very-Dark-Magenta);
    padding: 35px 28px;
    border-radius: 10px;
}

.user {
    display: flex;
    align-items: center;
    gap: 1.5em;
    padding-bottom: 2em;
}

.user--text, .opinion, .description {
    line-height: 20px;
}

.name, .verified, .opinion {
    margin: 0;
}

img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 0;
}

.verified {
    color: var(--Soft-Pink);
}

.rate--3, .rev--1 {
    align-self: flex-start;
}

.rate--2, .rev--2 {
    align-self: center;
}

.rate--1, .rev--3 {
    align-self: flex-end;
}